body{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 2rem;
  line-height: 1.3em;
}

p{
  margin-bottom: 1.6em;
}

.p1{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.img1{
  float: right;
  width: 250px;
  height: 200px;
  margin: 0 0 5px 10px;
  border-radius: 25px;
}

.img2{
  float: left;
  max-width: 250px;
  margin: 0 0 5px 10px;
  border-radius: 25px;
}


.img3{
  float: center;
  max-width: 250px;
  margin: 0 0 5px 10px;
  border-radius: 25px;
}

.img4{
  float: right;
  max-width: 250px;
  margin: 0 0 5px 10px;
  border-radius: 25px;
}


.formulario{
  width: 300px;
  height: 300px;
  float: right;
  margin: 0;
}

.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.header{
  background-color: black;
  color: white;
  padding: 25px 0;
  position: fixed;
  left:0;
  top:0;
  right: 0;
}

  .header a{
    color: white;
   text-decoration: none;
  }

.navegacion ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

  .navegacion ul li{
    display: inline-block;
  }
    .navegacion ul li a{
      display: block;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }

    .navegacion ul li a:hover{
      background: #4a4a4a;
    }

.logo{
  letter-spacing: 5px;
  font-size: 1.5em;
}

.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.main{
  padding-top: 110px;
}*/

footer{
  position: absolute;
  width: 100%;
  background: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 2rem;
  bottom: 0%;
}

.login-section{
  width: 100%;
  margin:auto;
  text-align: left;
}

/* Formulario */
.login {
  width: 20%;
  height: 20%;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 10px;
  margin-top:auto;
  margin-left: 38%;
}
.login-img{
  width: 10%;
  height: 10%;
  padding: 0%;
  margin-top: 7%;
  margin-left: 45%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  
}

/* Campos de texto */
.login input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

/* Botón */
.login input[type="button"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #077a0b;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

/*aside
aside{
  width: 13%;
  height: auto;
  padding: 2%;
  padding-bottom: auto;
  margin-top: 2%;
  border: 2px solid black;
}
*/
.navegacion2 ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

  /*.navegacion2 ul li{
    display:block;
  }*/
  .navegacion2 ul li a{
  display: block;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  }

  .navegacion2 ul li a:hover{
  background:gainsboro;
  }
  .navegacion2 ul li a:visited{
    color:black;
  }
  

  /*#contenedor-cuerpo{
    margin: 0%;
    padding: 0%;
    border:2px solid black;
    
  }*/
/*section calendario
#calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: auto;
 
}*/
/*section rostro-personal*/


.main-contenedor {
  margin-top: 7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr) ;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .menu-lateral { 
    grid-area: 1 / 1 / 4 / 2; 
    display: flex;
    align-items:flex-start;
    align-content: center;
    flex-flow: column wrap;
  }
    .menu-lateral section{
      position:fixed;
      margin-left: 20%;
    }

  .calendario {
     grid-area: 1 / 2 / 2 / 4; 
     display: flex;
     align-items: flex-start;
     align-content: center;
     flex-flow:column wrap;
  }
    .calendario iframe{
      margin-right: 25%;
    }
    .calendario img{
      width: 70%;
      height: 90%;
      margin-right: 10%;
    }

  .peluqueros {
     grid-area: 2 / 2 / 3 / 4; 
     display: flex;
     align-items: center;
     align-content: center;
     flex-flow: column wrap;
  }
    .rostro-peluqueros img{
    width: 50%;
    height: 40%;
    margin-left: 10%;
    border-radius: 5%;
    }
    .rostro-peluqueros pre{
    text-align: center;
    margin-right: 30%;
    }

  .servicios { 
    grid-area: 3 / 2 / 4 / 4;
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: column wrap; 
  }
    .servicios img{
      width: 60%;
      height: 85%;
      margin-top: 4%;
      margin-right: 20%;
      border-radius: 15%;
    }

  .mostrar-cita {
    grid-area: 4 / 2 / 5 / 4;
    display: flex;
    align-items: center;
    align-content:center ;
    flex-flow: column wrap;  
  }
    .mostrar-cita form{
      margin-right: 40%;
    }
    .mostrar-cita form input{
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      border-radius: 5px;
      border: none; 
      background-color: antiquewhite;
    }

footer {
    width: 100%;
    background: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 2rem;
    bottom: 0px;
    position: relative;
}