body{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 0;
}

h1{
  font-size: 2rem;
  line-height: 1.3em;
}

p{
  margin-bottom: 1.6em;
}
.p1{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.img1{
  float: right;
  width: 250px;
  height: 200px;
  margin: 0 0 5px 10px;
  border-radius: 25px;
}

.img2{
  float: left;
  max-width: 250px;
  margin: 0 0 5px 10px;
  border-radius: 25px;
}


.img3{
  float: center;
  max-width: 250px;
  margin: 0 0 5px 10px;
  border-radius: 25px;
}

.img4{
  float: right;
  max-width: 250px;
  margin: 0 0 5px 10px;
  border-radius: 25px;
}


.formulario{
  width: 300px;
  height: 300px;
  float: right;
  margin: 0;
}

.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.header{
  background-color: black;
  color: white;
  padding: 25px 0;
  position: fixed;
  left:0;
  top:0;
  right: 0;
}

  .header a{
    color: white;
   text-decoration: none;
  }

.navegacion ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

  .navegacion ul li{
    display: inline-block;
  }
    .navegacion ul li a{
      display: block;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }

    .navegacion ul li a:hover{
      background: #4a4a4a;
    }

.logo{
  letter-spacing: 5px;
  font-size: 1.5em;
}

.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main{
  padding-top: 110px;
}

.footer{
  background: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 2rem;
}